@import url('https://fonts.googleapis.com/css?family=Amiri|Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	background: url(http://desktop-wallpapers.net/wallpapers/foods/72/1280-chinese-tea.jpg);
	background-size: cover;
	font-size: 16px; /*1em = 16px*/
}

nav {
	background-color: rgba(51, 26, 0,.9);
	width:350px;
}

h1 {
	/*color: rgba(0, 0, 0,.7);*/
	color: rgb(25, 50, 77);
	font-family: Arial, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
	padding: 20px;

}

h2	{
	color: rgb(25, 50, 77);
	/*color: rgba(0,0,0,.7);*/
	font-family: Arial, helvetica, sans-serif;
	font-size: 1.6em
	margin-top: 30px;
	text-align: center;
	padding-bottom: 1em;
	
	
}

p  {color: rgba(255,255,255,.7);
	font-family:"Merriweather", serif;
	font-size: 23px;
	width:30em;
	font-weight: 50px;
	text-align: left;
	margin-right: 15em;
	margin-left: 15em;
	background-color: rgba(25, 50, 77, .4);
	/*background-color: rgba(0,0,0,.4);*/
	padding-right: 2em;
	padding-left: 3em;
	padding-top: 3em;
	padding-bottom: 3em;
}

#navlinks {
	margin-left: 0;
	text-align: left;
	padding-left: 15px;
}

#navlinks li {
	display: inline-block;
    padding: 14px 16px;
    list-style-type: none;
    font-size: 100%;
    font-family: Arial, helvetica, sans-serif;
    font-weight: 500;
}

#navlinks a {
	color:rgb(255,255,255); 
	text-decoration: none;
}

#navlinks li {
	border-right: 1.5px solid #255;
	border-color: rgb(255,255,255);
}

#navlinks li:last-child {
	border-right: none;
}


@media only screen and (max-width: 1035px) {
 body {
		background-size: 100%;
	}
}

@media only screen and (max-width: 500px) {
	h1 {
		font-size: 2em;
	}
}

@media only screen and (max-width: 500px) {
	h2 {
		font-size: 1.5em;
	}
}
@media only screen and (max-width: 1035px) {
	p {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%
		margin-top: 0;
	}
}

@media only screen and (max-width: 500px) {
	p {
		font-size: 1.2em;
		padding-left: .8em;
		padding-right: .5em;
		padding-top: .5em;
		padding-bottom: .5em;
	}
}

@media only screen and (max-width: 450px) {
	nav {
		width: 90%;
		font-size: 18px;
		/*margin-left: 1em;
		margin-right: 1em;
	}*/
}



